<div class="dashboard-wrapper">
  <div class="container" style="
  min-height: calc(100vh - 28px);">
    <ul class="nav nav-tabs border-0 font-weight-light dashnav pt-5 pt-lg-3">
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Centers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Session Management</a>
      </li>
    </ul>
    <hr color="grey" />
    <ul class="nav nav-tabs border-0 font-weight-light pt-2">
      <li class="nav-item text-white">
        <h5 class="stretch font-weight-bold px-2">Tests</h5>
      </li>
      <li class="nav-item ml-auto">
        <button class="btn btn-outline-info btn-sm">Update</button>
      </li>
      <li class="nav-item ml-3">
        <button class="btn btn-outline-info btn-sm">Download</button>
      </li>
    </ul>
    <div class="row">
      <div *ngFor="let test of testData" class="col-12 col-lg-6 mt-3">
        <div class="border border-white rounded p-3">
          <p class="text-white d-flex mb-2">
            {{test.name}}
            <span class="ml-auto">
              {{test.status}}
            </span>
          </p>
          <hr color="grey" class="m-0" />
          <div class="row mt-2">
            <div class="col-3 text-white text-center" *ngFor="let class of test.classrooms">
              <app-text-circle [text]="class.val"></app-text-circle>
              <p class="mb-0 font-weight-light mt-1">{{class.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-auto ml-0 ml-lg-auto pr-0">
        <div class="mt-3 d-flex">
          <button class="btn btn-outline-light px-3 py-1 ml-auto stretch font-weight-light btn-sm">Download
            Absentess</button>
          <button class="btn btn-outline-light px-3 py-1 ml-3 stretch font-weight-light btn-sm">Download Log</button>
        </div>
      </div>
      <div class="mt-3 d-flex">
        <div class="col-auto pl-0">
          <button class="btn btn-outline-light px-3 py-1 ml-3 stretch font-weight-light btn-sm">Activate
            Session</button>
          <button class="btn btn-outline-light px-3 py-1 ml-3 stretch font-weight-light btn-sm">Deactivate
            Session</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="container">
    <p class="text-white font-weight-light small mb-0 d-flex">
      Perfectice &copy; 2020
      <span class="ml-auto">
        FaceBook | Twitter | Instagram
      </span>
    </p>
  </footer>
</div>
